<div class="vh-100 flex-center">
  <div class="row">
    <div class="col s12">
      <div *ngIf=" error != '' && error " class="error">
        {{ error | capitalize }}
        <p>Still want to reset password? <button [routerLink]="['/','forgot-password']" class="btn">Yes 👍</button>
          <button [routerLink]="['/','user','signin']" class="btn">No </button></p>
      </div>
      <div *ngIf=" success != '' && success " class="success">
        {{ success | capitalize }}
      </div>
      <div class="card">
        <div class="card-content">
          <p>We have sent an password reset link to your email. Please check your email and follow the instructions.(Please
            check in your spam folder also and report as unspam)
          </p>
          <p>If you want us to resend an email <span (click)="resendForgotPasswordToken()" class="resend">Click Here</span></p>
        </div>
      </div>
    </div>
  </div>
</div>