<div *ngIf="!showForgotPasswordEmailNotification" class="form-wrapper flex-center">
  <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" class="col s12 z-depth-2">
    <h3 class="center-align teal-text form-heading m-0">Find Your Account
    </h3>
    <div *ngIf="error != '' && error " class="error">
      {{ error | capitalize }}
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" formControlName="email" class="validate">
        <label for="email">Email</label>
        <span *ngIf=" forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('required') " class="red-text">Email
          is required
        </span>
        <span *ngIf=" forgotPasswordForm.get('email').dirty && forgotPasswordForm.get('email').hasError('email') " class="red-text">Email
          should be a valid email</span>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button [disabled]="forgotPasswordForm.invalid" class="btn w-100" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<app-forgot-password-email-notifing *ngIf="showForgotPasswordEmailNotification" [tokenId]="tokenId"></app-forgot-password-email-notifing>