<div class="form-wrapper flex-center">
  <form class="col s12 z-depth-2">
    <h3 class="center-align teal-text form-heading m-0">Find Your Account
    </h3>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn w-100" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
<app-forgot-password-email-notifing></app-forgot-password-email-notifing>