<div class="vh-100 flex-center">
  <div class="row">
    <div class="col s12">
      <div *ngIf="!userActivationRequestStatus" class="card">
        <div class="card-content">
          <p>We have sent an activation link to your email. Please activate your account before proceeding.(Please check
            in your spam folder also and report as unspam)
          </p>
        </div>
      </div>
      <div *ngIf="userActivationRequestStatus" class="card">
        <div class="card-content">
          <p *ngIf="userActivationStatus">Your Account is activated now. You can now login.
          </p>
          <p *ngIf="!userActivationStatus && error">{{ error | capitalize }}</p>
        </div>
        <div class="card-action center-align">
          <a [routerLink]="['/','user','signin']" href="#">Signin</a>
        </div>
      </div>
    </div>
  </div>
</div>