<div *ngIf="!showUserActivationEmailNotification" class="form-wrapper flex-center">
  <form (ngSubmit)="signin()" [formGroup]="signinForm" class="col s12 z-depth-2">
    <h3 class="center-align teal-text form-heading m-0">Signin
    </h3>
    <div *ngIf="!resendActivation && error != '' && error " class="error">
      {{ error | capitalize }}
    </div>
    <div *ngIf="resendActivation" class="error">
      Your Account Is Not Activated. <span (click)="resendActivationToken()">Click Here To Resend Email</span>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" formControlName="email">
        <label for="email">Email</label>
        <span *ngIf=" signinForm.get('email').touched && signinForm.get('email').hasError('required') " class="red-text">Email
          is required</span>
        <span *ngIf=" signinForm.get('email').dirty && signinForm.get('email').hasError('email') " class="red-text">Email
          should be a valid email</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="password">
        <label for="password">Password</label>
        <span *ngIf=" signinForm.get('password').touched && signinForm.get('password').hasError('required') " class="red-text">Password
          is required</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col s6">
        <label>
          <input type="checkbox" class="filled-in" checked="checked" />
          <span>Rememberme</span>
        </label>
      </div>
      <div class="col s6 right-align">
        <a [routerLink]="['/','forgot-password']" href="#">Forgot Password</a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col s12">
        <button [disabled]="signinForm.invalid" class="btn w-100" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col s12 center-align">
        Don't have an account? <a [routerLink]="['/', 'user', 'signup']" href="#">Signup</a>
      </div>
    </div>
  </form>
</div>
<app-user-activation-email-notifing *ngIf="showUserActivationEmailNotification" [tokenId]="tokenId"></app-user-activation-email-notifing>