.form-wrapper {
  min-height: 100vh;
}

.form-wrapper form {
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
}

.form-heading {
  font-size: 1.8rem;
  margin-top: 0px;
}

textarea {
  border-width: 0 0 1px 0;
}

textarea:focus,
textarea:active,
textarea:focus:active {
  outline: none;
}

@media screen and (max-width: 578px) {
  .form-wrapper form {
    padding: 2rem;
  }
}
