<app-navbar></app-navbar>
<div *ngIf="contacts && contacts.length != 0" class="contacts-wrapper">
  <div class="contacts-header">
    <div>Name</div>
    <div *ngIf="canDisplay.email">Email</div>
    <div *ngIf="canDisplay.phoneNumber">Phone Number</div>
    <div *ngIf="canDisplay.job">Job & Company</div>
    <div *ngIf="canDisplay.actions">Actions</div>
  </div>
  <div class="contacts">
    <ng-container *ngFor="let eachContact of contacts; let i = index">
      <app-contact (click)="viewContact(eachContact)" [i]="i" [contact]="eachContact" [canDisplay]="canDisplay"></app-contact>
    </ng-container>
  </div>
</div>
<div *ngIf="!contacts || contacts.length == 0" class="center-align">
  {{ fetchStatus }}
</div>
<app-edit-contact #editContactModalRef></app-edit-contact>
<app-view-contact #viewContactModalRef></app-view-contact>