<app-navbar></app-navbar>
<div *ngIf="contacts" class="contacts-wrapper">
  <div class="contacts-header">
    <div>Name</div>
    <div *ngIf="canDisplay.email">Email</div>
    <div *ngIf="canDisplay.phoneNumber">Phone Number</div>
    <div *ngIf="canDisplay.job">Job & Company</div>
    <div *ngIf="canDisplay.actions">Actions</div>
  </div>
  <div class="contacts">
    <ng-container *ngFor="let eachContact of contacts; let i = index">
      <app-contact [i]="i" [contact]="eachContact" [canDisplay]="canDisplay"></app-contact>
    </ng-container>
  </div>
</div>
<div *ngIf="!contacts" class="ceter-align">
  No contacts saved yet.
</div>
