<!--
  <div class="table-responsive">
    <table>
      <thead>
        <th>Some thing</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="" class="contact-image" alt="">
            <label>
              <input type="checkbox" data-contact-id="1" class="filled-in contact-select-checkbox" checked="checked" />
              <span></span>
            </label>
          </td>
          <td>Mohana Naga Venkat</td>
          <td>9949270864</td>
          <td>
            <div class="action-icon"><i class="material-icons">eye</i></div>
            <div class="action-icon"><i class="material-icons">export</i></div>
            <div class="action-icon"><i class="material-icons">print</i></div>
            <div class="action-icon"><i class="material-icons">menu</i></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
-->

<div class="contacts-wrapper">
  <div class="contacts-header">
    <div>Name</div>
    <div *ngIf="canDisplay.email">Email</div>
    <div *ngIf="canDisplay.phoneNumber">Phone Number</div>
    <div *ngIf="canDisplay.job">Job & Company</div>
    <div *ngIf="canDisplay.actions">Actions</div>
  </div>
  <div class="contacts">
    <ng-container *ngFor="let eachContact of contacts; let i = index">
      <app-contact
        [i]="i"
        [contact]="eachContact"
        [canDisplay]="canDisplay"
      ></app-contact>
    </ng-container>
  </div>
</div>
