/* You can add global styles to this file, and also import other style files */
/* @import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto"; */
html,body {
  font-size: 16px !important;
  width:100%;
  height:100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
.vh-100 {
  min-height: 100vh;
}
.error{
  padding:1rem;
  color:red;
  background: rgba(255,0,0,0.1);
  border-left:4px solid red;
  margin:.5rem auto;
}
.success{
  color:green;
  background: rgba(0,255,0,0.1);
  padding:1rem;
  border-left:4px solid green;
  margin:.5rem auto;
}

form .row{
  margin-bottom:0;
}

form .input-field{
  margin-bottom: 0
}