<div class="form-wrapper flex-center">
  <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" *ngIf="isAllowedToResetPassword" class="col s12 z-depth-2">
    <h3 class="center-align teal-text form-heading m-0">Reset Password
    </h3>
    <div *ngIf="!resetPasswordStatus && resetPasswordError != '' && resetPasswordError " class="error">
      {{ resetPasswordError | capitalize }}
    </div>
    <div *ngIf="resetPasswordStatus && resetPasswordSuccess != '' && resetPasswordSuccess" class="success">
      {{ resetPasswordSuccess | capitalize }}. Redirecting to signin page...
    </div>
    <div class="row">
      <!-- <input formControlName="id" type="hidden" name="id" [value]="id"> -->
      <div class="input-field col s12">
        <input formControlName="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
        <span *ngIf=" resetPasswordForm.get('password').touched && resetPasswordForm.get('password').hasError('required') " class="red-text">Password
          is required</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="validate">
        <label for="confirmPassword">Confirm Password</label>
        <span *ngIf=" resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').hasError('required') "
          class="red-text">Confirm Password is required</span>
        <span *ngIf=" resetPasswordForm.get('confirmPassword').dirty && ( resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value ) "
          class="red-text">Password and Confirmpassword should be same</span>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button [disabled]="resetPasswordForm.invalid || ( resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value ) "
          class="btn w-100" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="!isAllowedToResetPassword && (error == '' || !error) " class="card">
    <div class="card-content">
      <p>Please wait while we are validating request</p>
    </div>
  </div>
  <div *ngIf="error != '' && error" class="error">
    {{ error | capitalize }}
    <p>Still want to reset password? <button [routerLink]="['/','forgot-password']" class="btn">Yes 👍</button>
      <button [routerLink]="['/','user','signin']" class="btn ml-2">No </button></p>
  </div>
</div>